<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Library client demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../bootstrap.min.css"/>
    <link rel="stylesheet" href="./common.css"/>
</head>
<body>
<div class="container">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-xs-6">
            <div class="tree" data-id="tree" id="react"/>
        </div>
        <div class="col-xs-6">
            <div class="preview" data-id="preview"/>
        </div>
    </div>
</div>
<script src="http://localhost:8888/build/js/app-bundle.js"/>
</body>
</html>